{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content='IE=edge'>
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>华安运管知识库</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '2.ico' %}">
    <link href="{% static 'signin.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'form-validation.css' %}" rel="stylesheet"> -->
    {% bootstrap_css %} {% bootstrap_javascript %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="/static/js/bootstrap-multiselect.js"></script>
    <link href="/static/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="/static/js/laydate/laydate.js"></script>
    <style type="text/css">
        a:hover {
            text-decoration: none;
        }
    </style>
    <style type="text/css">
        .dropdown-submenu {
            position: relative;
        }
        
        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }
        
        .dropdown-submenu:hover>.dropdown-menu {
            display: block;
        }
        
        .dropdown-submenu>a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }
        
        .dropdown-submenu:hover>a:after {
            border-left-color: #fff;
        }
        
        .dropdown-submenu.pull-left {
            float: none;
        }
        
        .dropdown-submenu.pull-left>.dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
    </style>
</head>
<!-- 公用确认提示Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModal">提示信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                   </button>
            </div>
            <div class="modal-body" id="message-body">{%for message in messages %} ​
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>

                ​ {%endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>


<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark  ">
        <div class="container">
            <!-- navbar-brand 适用于你的公司，产品或项目名称 -->
            <a class="navbar-brand" href="{% url 'jzyy_notes:index' %}">华安运管</a>
            <div id="navbar" class="navbar-collapse collapse d-flex">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">数据分析</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'data:list'  %}">CRM考试</a>
                            <a class="dropdown-item" href="{% url 'data:shine'  %}">无纸化率统计</a>
                            <a class="dropdown-item" href="{% url 'data:list'  %}">BOP驳回率统计（开发中）</a>
                        </div>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">业务模块 </a>
                        <div class="dropdown-menu">
                            <!-- <a class="dropdown-item" href="{% url 'jzyy_notes:topics' 0 %}">公共资源</a>-->
                            <a class="dropdown-item" href="{% url 'jzyy_notes:topics' 2  %}">常见问题解答</a>
                            <a class="dropdown-item" href="{% url 'fileserver:list' 2  %}">业务指引和表单</a>
                            <a class="dropdown-item" href="{% url 'jzyy_notes:topics' 4  %}">业务新规</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'jzyy_notes:topics' 1 %}">个人办公</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">综合管理</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'management:worklog' %}">工作日志</a>
                            <a class="dropdown-item" href="{% url 'management:ot_list' %}">加班登记</a>
                            <a class="dropdown-item" href="{% url 'fileserver:list' 1 %}">值班表（开发中）</a>
                            <a class="dropdown-item" href="{% url 'fileserver:list' 1 %}">值日表（开发中）</a>
                        </div> -->
                        <div class="dropdown">
                            <a id="navbardrop" data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">综合管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" class="dropdown-item" href="#">工作日志</a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" class="dropdown-item" href="{% url 'management:worklog' %}">我的日志</a></li>
                                        <li><a tabindex="-1" class="dropdown-item" href="#">下属日志（开发中）</a></li>
                                        <!-- <li class="divider"></li>
                                        <li class="dropdown-submenu">
                                            <a href="#" class="dropdown-item">二级菜单</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="dropdown-item">三级菜单</a></li>
                                            </ul>
                                        </li> -->
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'management:ot_list' %}">加班登记</a></li>
                                <li><a class="dropdown-item" href="{% url 'management:worklog' %}">值班表（开发中）</a></li>
                                <li><a class="dropdown-item" href="{% url 'management:ot_list' %}">值日表（开发中）</a></li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'customer:jobinfo'  %}">项目管理</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">知识库</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'fileserver:list' 0 %}">公共文件</a>
                            <a class="dropdown-item" href="{% url 'fileserver:list' 1 %}">个人文件</a>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="{% url 'fileserver:upload' %}" id="navbardrop" data-toggle="dropdown">
                            你好，{{ user.username }}
                            <svg class="bi bi-person-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM6 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zm6.854.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708L12.5 7.793l2.646-2.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                              </svg>
                              <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <a href="{% url 'users:change_pw' %}" class="dropdown-item">修改密码</a>
                            <a href="{% url 'users:logout' %}" class="dropdown-item">注销</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register'  %}">注册</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login'  %}">登陆</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0 " method="get" action="/search/">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" name="mykey" type="text" placeholder="请输入关键字" required>
                    <button class="btn btn-light my-2 my-sm-0" type="submit">查询</button>
                </form> -->
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            {% block header %}{% endblock header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </div>
    <!--/container-->
    <button type="button" id="back_top" class="back_top">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
            <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
          </svg>
        </button>
    <style>
        .back_top {
            position: fixed;
            right: 5em;
            bottom: 100px;
            width: 3.5rem;
            height: 3.5rem;
            padding: 0;
            margin: 0;
            border: 0;
            border-radius: 33%;
            display: none;
        }
        
        .back_top:focus {
            outline: none;
        }
    </style>
    <script>
        $(function() {
            $('#back_top').click(function() {
                $('html,body').animate({
                    scrollTop: 0
                }, 150);
            });
            $(window).scroll(function() {
                if ($(this).scrollTop() > 150) {
                    $('#back_top').fadeIn(150);
                } else {
                    $('#back_top').stop().fadeOut(150);
                }
            });
            scroll();
        })
    </script>
</body>


</html>