{% extends 'jzyy_notes\base.html' %} {% block header %}
<!-- 模态框-删除确认 -->
<div class="modal fade" id="worklog_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">删除</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="text" id="id2" style="display: none"> 确认删除此条日志？
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm " id="delete_send" type="submit">确定</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" id="msg1" ></span>取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框-修改 -->
<div class="modal fade" id="worklog_update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">修改日志</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="text" id="id1" style="display: none"> {{ form2.date.errors }} {{ form2.date.label_tag }} {{ form2.date }}</div>
                    <div class="col-md-12 mb-3">
                        {{ form2.text.errors }} {{ form2.text.label_tag }} {{ form2.text }}
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" id="msg1" ></span>关闭</button>
                <button class="btn btn-primary btn-sm " id="edit_send" type="submit">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框-新增 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">新增工作日志</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        {{ form.date.errors }} {{ form.date.label_tag }} {{ form.date }}</div>
                    <div class="col-md-12 mb-3">
                        {{ form.text.errors }} {{ form.text.label_tag }} {{ form.text }}</div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" id="msg1" ></span>关闭</button>
                <button class="btn btn-primary btn-sm " id="add_send" type="submit">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框-新增 -->
<div class="modal fade" id="userlevelM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">职级维护</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        {{ form3.username.errors }} {{ form3.username.label_tag }} {{ form3.username }}</div>
                    <div class="col-md-12 mb-3">
                        {{ form3.leader.errors }} {{ form3.leader.label_tag }} {{ form3.leader }}</div>
                    <div class="col-md-12 mb-3">
                        {{ form3.level.errors }} {{ form3.level.label_tag }} {{ form3.level }}</div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" id="msg1" ></span>关闭</button>
                <button class="btn btn-primary btn-sm " id="add_send" type="submit">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 查询区 -->
<form method="POST" action="{% url 'management:worklog_search' %}" class="needs-validation mt-2 ">
    {% csrf_token %}
    <div class="row pl-3">
        <label>{{ form1.bg_date.label_tag }}</label>
        <div class="col-auto ">
            {{ form1.bg_date.errors }} {{ form1.bg_date }}
        </div>
        <label>{{ form1.en_date.label_tag }}</label>
        <div class="col-auto ">
            {{ form1.en_date.errors }} {{ form1.en_date }}
        </div>
        <label>{{ form1.keyword.label_tag }}</label>
        <div class="col-auto ">
            {{ form1.keyword.errors }} {{ form1.keyword }}
        </div>
        <div class="col-sm mr-auto ">
            <button class="btn btn-info btn-sm" type="submit" id="s_b">查询</button>
            <!-- <button class="btn btn-info btn-sm" type="submit">高亮</button> -->
        </div>
</form>
<div class="col-auto">
    <!-- <form method="post" action="{% url 'management:ot_batch' %}">
        {% csrf_token %} -->
    <button type="button" class="  btn btn-secondary btn-sm  " data-toggle="modal" data-target="#myModal">新增</button>
    <a type="button" class="btn btn-info btn-sm" href="{% url 'management:worklog_export' %}">导出</a>
    <!-- <button type="button" class="  btn btn-success btn-sm  " data-toggle="modal" data-target="#userlevelM">用户职级维护</button> -->

</div>
</div>
{% endblock header %} {% block content %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <!-- <th><input type="checkbox" name="all"></th> -->
                <th>日期</th>
                <th>工作内容</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody id="custinfo_tb">
            {% for wl_info in page.object_list %}
            <tr>
                <!-- <td id="{{wl_info.id}}"><input type="checkbox" name="d2p_list" value="{{wl_info.id}}" onclick="userCheck(this)"></td> -->
                <td id="{{wl_info.id}}">{{wl_info.date}}</td>
                <td><pre>{{wl_info.text}}</pre></td>
                <td>
                    <a id='update_model' href="#">
                        <svg class="bi bi-pencil-square " width="1em " height="1em " viewBox="0 0 16 16 " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                        <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z "/>
                        <path fill-rule="evenodd " d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z " clip-rule="evenodd "/>
                        </svg></a>
                    <a id='delete_model' href="#">
                        <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                </svg>
                    </a>
                </td>
            </tr>
            {% empty %}
            <td>无</td>
            {% endfor %}
        </tbody>
    </table>

</div>
<!-- 分页 -->
<ul class="pagination justify-content-center ">
    {% if page.has_previous %}
    <li class="page-item ">
        <a href="?index={{page.previous_page_number}} " class="page-link ">上一页</a>
    </li>
    {% else %}
    <li class="disabled page-item ">
        <a href="# " class="page-link ">上一页</a>
    </li>
    {% endif %} {% for page_number in paginator.page_range|slice:"0:15 " %} {% if page_number == page.number %}
    <li class="active page-item ">
        <a href="?index={{page_number}} " class="page-link ">{{page_number}}</a>
    </li>
    {% else %}
    <li class="page-item ">
        <a href="?index={{page_number}} " class="page-link ">{{page_number}}</a>
    </li>
    {% endif %} {% endfor %} {% if page.has_next %}
    <li class="page-item ">
        <a href="?index={{page.next_page_number}} " class="page-link ">下一页</a>
    </li>
    {% else %}
    <li class="disabled page-item ">
        <a href="# " class="page-link ">下一页</a>
    </li>
    {% endif %}
</ul>

<!-- <script>
    $(function() {
        //全选,设置chheckbox name='all_contact_id' tbody id=custinfo_tb
        $("input[name=all] ").click(function() {
            if (this.checked) {
                $("#custinfo_tb :checkbox ").prop("checked ", true);
            } else {
                $("#custinfo_tb :checkbox ").prop("checked ", false);
            }
        });
    });
    //单选 设置name=contact_id
    function userCheck(ths) {
        if (ths.checked == false) {
            $("input[name=all]:checkbox ").prop('checked', false);
        } else {
            var count = $("input[name='d2p_list' ]:checkbox:checked ").length;
            if (count == $("input[name='d2p_list' ]:checkbox ").length) {
                $("input[name=all]:checkbox ").prop("checked ", true);
            }
        }
    };
</script> -->
<script>
    $.ajaxSetup({
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
    })
    $('#add_send').on('click', function() {
        var date = $('#date').val();
        var text = $('#text').val();
        $.ajax({
            url: '../worklog_add/',
            type: 'POST',
            data: {
                'date': date,
                'text': text
            },
            success: function(data) {
                if (data == 'ok') {
                    location.reload()
                } else {
                    alert('请检查必填项！')
                }
            }
        })
    });
    /************************模态框编辑*************************/
    $('tbody #update_model').on('click', function() {
        $('#worklog_update').modal();
        var $ele = $(this).parent().prevAll();
        var id = $($ele[1]).attr('id');
        var date = $($ele[1]).text();
        var text = $($ele[0]).text();
        $('#date1').val(date);
        $('#text1').val(text);
        $('#id1').val(id);
    });
    $('#edit_send').on('click', function() {
            var date = $('#date1').val();
            var text = $('#text1').val();
            var id = $('#id1').val();
            $.ajax({
                url: '../worklog_update/',
                type: 'POST',
                data: {
                    'id': id,
                    'date': date,
                    'text': text
                },
                success: function(data) {
                    if (data == 'ok') {
                        location.reload()
                    } else {
                        $('#edit_error').text('提交失败！')
                    }
                }
            })
        })
        /************************模态框删除*************************/
    $('tbody #delete_model').on('click', function() {
        $('#worklog_delete').modal();
        var $ele = $(this).parent().prevAll();
        var id = $($ele[1]).attr('id');
        $('#id2').val(id);
    });
    $('#delete_send').on('click', function() {
        var id = $('#id2').val();
        $.ajax({
            url: '../worklog_delete/',
            type: 'POST',
            data: {
                'id': id
            },
            success: function(data) {
                if (data == 'ok') {
                    location.reload()
                } else {
                    $('#edit_error').text('提交失败！')
                }
            }
        })
    })
</script>
<script>
    laydate.render({
        elem: '#date',
        value: new Date()
    });
    laydate.render({
        elem: '#date1'
    });
    laydate.render({
        elem: '#bg_date',
        // value: new Date()
    });
    laydate.render({
        elem: '#en_date',
        // value: new Date()
    });
</script>
<!-- <script type="text/javascript">
    const content = document.getElementsByTagName('tbody')[0];
    const text = content.innerHTML;
    const value = document.getElementsByTagName('input')[7];
    const button = document.getElementsByTagName('button')[15];
    button.onclick = () => {
        const keyWords = value.value;
        const cut = text.split(keyWords);
        content.innerHTML = cut.join('<span style="color:red;">' + keyWords + '</span>');
    };
</script> -->
{% if messages %} {% for message in messages %}
<script>
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: true,
        positionClass: "toast-top-center ",
        onclick: null,
        showDuration: "300 ",
        hideDuration: "1000 ",
        timeOut: "2000 ",
        extendedTimeOut: "1000 ",
        showEasing: "swing ",
        hideEasing: "linear ",
        showMethod: "fadeIn ",
        hideMethod: "fadeOut "
    };
    //成功消息提示，默认背景为浅绿色 
    // toastr.success("新增成功！ ");
    $('#messageModal').modal('show')
</script> {% endfor %} {% endif %} {% endblock content %}